<!DOCTYPE html>
<html lang="ja">
<head>
  <mata charset="utf-8">
  <title>Edit memo</title>
</head>
<body>
  <h2>メモアプリ</h2>

  <form action="/memos/<%= @id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <input type="text" id="title" name="title" value="<%= ERB::Util.html_escape(@memo.title) %>">
    <br>
    <textarea id="content" name="content"><%= ERB::Util.html_escape(@memo.content) %></textarea>
    <br>
    <button type="submit">更新</button>
  </form>
</body>
</html>
