<!DOCTYPE html>
<html lang="ja">
<head>
  <mata charset="utf-8">
  <title>Top</title>
</head>
<body>
  <h2>メモアプリ</h2>
  <div>
    <ul>
      <% @memo_all.each do |key, memo| %>
        <li>
          <a href="/memos/<%= key %>"><%= ERB::Util.html_escape(memo['title']) %></a>
        </li>
      <% end %>
    </ul>
  </div>

  <nav>
    <button onclick="location.href='/new'"> 追加 </button>
  </nav>
</body>
</html>
