<!DOCTYPE html>
<html lang="ja">
<head>
  <mata charset="utf-8">
  <title>New memo</title>
</head>
<body>
  <h2>メモアプリ</h2>

  <form action="memos" method="POST">
    <input type="text" id="title" name="title">
    <br>
    <textarea id="content" name="content"></textarea>
    <br>
    <button type="submit">保存</button>
  </form>
</body>
</html>
